* {
  font-size: 16px;
  font-family: serif;
}

h1 {
margin-top: 100px;
font-size: 45px;
margin-bottom: 80px;
text-align: center;
font-family: 'Meddon', cursive;
font-weight: bold;
}

h3 {
  font-size: 25px;
  margin: 30px 20px 30px 35px;
  text-align: left;
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #F8BAEA;
}

.container-bg {
    background: url("https://i.pinimg.com/564x/14/95/d6/1495d6ef17f2bc7e4e837120748391bc.jpg");

    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

p {
  font-size: 16px;
  font-family: serif;
  text-align: justify;
}

br {
  line-height: 200%;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #6666ff;
  margin: 20px 10px 30px 20px;

}

ol li {
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  color: black;
  margin: auto auto 10px auto;
}

ol{
  list-style-position: outside;
  padding-left:0;
}

#map {
  display: block;
  margin: -10px 25px auto auto;
  width: 40%;
  height: auto;
  opacity: 1.0;
  float: left;
}
#map:hover{
  opacity: 0.5;
}

#img_London {
  border-radius:  5%;
  display: block;
  margin: -20px auto 20px 30px;
  width: 42%;
  height: auto;
  float: right;
}

.london_culture img {
  border-radius:  5%;
  display: block;
  margin: -20px auto 20px 30px;
  width: auto;
  height: 320px;
}

.caption {
    position: relative;
    height: 320px;
    width: auto;
    float:right;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.text-block p {
  font-size: 11px;
  font-family: serif;
  text-align: center;
}

iframe {
  margin: 35px 50px 30px auto;
  float: left;
}

#description {
  font-family: inherit;
  font-style: italic;
  font-size: 20px;
  margin-top: 175px;
}

.london_culture {
  clear: both;
}
.london_food {
  clear: both;
}
.london_places {
  clear: both;
}

.img_food {
  width: 300px;
  height: auto;
  border-radius: 5%;
  float: left;
  margin: 10px 45px 20px auto;
}
ol li {
  clear: both;
}

.p_food {
  margin: 55px auto auto 50px;
}

ul li {
  clear: both;
}

.box {
  position: relative;
  width: 300px;
  height: 150px;
  float: right;
  margin: 10px auto 20px 45px;
}

.img_restaurants {
  width: 300px;
  height: auto;
  border-radius: 5%;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover .img_restaurants {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.message {
  background-color: #6666ff;
  padding: 5px 10px;
}

div a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

div a:hover {
  color: white;
  text-decoration: underline;
}

div a:visited {
  color: white;
  text-decoration: none;
}

.p_restaurants {
  margin: 55px 50px auto auto;
}

table {
  width: 100%;
  height: 800px;
  margin-bottom: 80px;
}

td {
  text-align: center;
  vertical-align: bottom;
}

.cont {
  position: relative;
  width: 400px;
  height:auto;
}

.img_table {
  width: 350px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ff9999;
}

.cont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: serif;
  font-size: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
